{% extends 'base.html.twig' %}
{% block title %}Catégorie #{{ category }}{% endblock %}

{% block body %}
    <h1>{{ category }}</h1>
        <ul>
            {% for program in programs %}
                <li>{{ program.id }} - <a class="lien" href="{{ path("program_show", { id: program.id }) }}">{{ program.title }}</a></li>
                <p>{{ program.summary }}</p>
        </ul>
            {% else %}
            <p>Aucune série trouvée</p>
            {% endfor %}
{% endblock %}