<div class="my-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bloc-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand nav-title" href="{{ path('program_index') }}">Wild Séries</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link nav-click" href="{{ path ('category_index') }}">Catégories <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-click" href="{{ path ('actor_index') }}">Acteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-click" href="{{path ('comment_index') }}">Commentaires</a>
                </li>
                <li class="nav-item active">
                    {% if app.user %}
                <li class="nav-item"> {{ app.user.email }}

                    <a class="nav-link nav-click" href="{{ path('my_profile') }}">Mon compte</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link nav-click" href="{{ path('app_logout') }}">Deconnexion</a>
                   </li>
                    {% else %}
                <li class="nav-item">
                        <a class="nav-link nav-click" href="{{ path ('app_register') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link nav-click" href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </li>

            </ul>
            <div>
                <ul class="navbar-nav mr-auto">

                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0 nav-click">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 button-search" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
